// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 3.0.0.24.1
// Netlist written on Sat Dec 11 21:54:02 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/philip lengyel/documents/es4final/es4-guitar-hero/proj_guitar_hero/mypll/rtl/mypll.v"
// file 1 "c:/users/philip lengyel/documents/es4final/es4-guitar-hero/proj_guitar_hero/source/impl_1/draw_game.vhd"
// file 2 "c:/users/philip lengyel/documents/es4final/es4-guitar-hero/proj_guitar_hero/source/impl_1/generate_notes.vhd"
// file 3 "c:/users/philip lengyel/documents/es4final/es4-guitar-hero/proj_guitar_hero/source/impl_1/top.vhd"
// file 4 "c:/users/philip lengyel/documents/es4final/es4-guitar-hero/proj_guitar_hero/source/impl_1/vga.vhd"
// file 5 "d:/apps/lattice radiant/ip/pmi/pmi_ice40up.v"
// file 6 "d:/apps/lattice radiant/ip/pmi/pmi_ice40up.vhd"
// file 7 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "d:/apps/lattice radiant/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "d:/apps/lattice radiant/ip/common/adder/rtl/lscc_adder.v"
// file 27 "d:/apps/lattice radiant/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 28 "d:/apps/lattice radiant/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 29 "d:/apps/lattice radiant/ip/common/counter/rtl/lscc_cntr.v"
// file 30 "d:/apps/lattice radiant/ip/common/fifo/rtl/lscc_fifo.v"
// file 31 "d:/apps/lattice radiant/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "d:/apps/lattice radiant/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 33 "d:/apps/lattice radiant/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 34 "d:/apps/lattice radiant/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 35 "d:/apps/lattice radiant/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 36 "d:/apps/lattice radiant/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "d:/apps/lattice radiant/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "d:/apps/lattice radiant/ip/common/rom/rtl/lscc_rom.v"
// file 39 "d:/apps/lattice radiant/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "d:/apps/lattice radiant/ip/pmi/pmi_add.v"
// file 41 "d:/apps/lattice radiant/ip/pmi/pmi_addsub.v"
// file 42 "d:/apps/lattice radiant/ip/pmi/pmi_complex_mult.v"
// file 43 "d:/apps/lattice radiant/ip/pmi/pmi_counter.v"
// file 44 "d:/apps/lattice radiant/ip/pmi/pmi_dsp.v"
// file 45 "d:/apps/lattice radiant/ip/pmi/pmi_fifo.v"
// file 46 "d:/apps/lattice radiant/ip/pmi/pmi_fifo_dc.v"
// file 47 "d:/apps/lattice radiant/ip/pmi/pmi_mac.v"
// file 48 "d:/apps/lattice radiant/ip/pmi/pmi_mult.v"
// file 49 "d:/apps/lattice radiant/ip/pmi/pmi_multaddsub.v"
// file 50 "d:/apps/lattice radiant/ip/pmi/pmi_multaddsubsum.v"
// file 51 "d:/apps/lattice radiant/ip/pmi/pmi_ram_dp.v"
// file 52 "d:/apps/lattice radiant/ip/pmi/pmi_ram_dp_be.v"
// file 53 "d:/apps/lattice radiant/ip/pmi/pmi_ram_dq.v"
// file 54 "d:/apps/lattice radiant/ip/pmi/pmi_ram_dq_be.v"
// file 55 "d:/apps/lattice radiant/ip/pmi/pmi_rom.v"
// file 56 "d:/apps/lattice radiant/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input [5:0]pressing, input reset, input start, output [5:0]RGBout, 
            input oscillatorin, output HSYNCout, output VSYNCout);   /* synthesis lineinfo="@3(10[8],10[11])"*/
    
    (* is_clock=1 *) wire oscillatorin_c;   /* synthesis lineinfo="@3(20[3],20[15])"*/
    
    wire GND_net, VCC_net, HSYNCout_c, VSYNCout_c;
    
    VHI i2 (.Z(VCC_net));
    vga_default vgaout (VSYNCout_c, GND_net, VCC_net, HSYNCout_c, oscillatorin_c);   /* synthesis lineinfo="@3(128[11],128[14])"*/
    VLO i1 (.Z(GND_net));
    OB \RGBout_pad[4]  (.I(GND_net), .O(RGBout[4]));   /* synthesis lineinfo="@3(19[3],19[9])"*/
    OB \RGBout_pad[3]  (.I(GND_net), .O(RGBout[3]));   /* synthesis lineinfo="@3(19[3],19[9])"*/
    OB \RGBout_pad[5]  (.I(GND_net), .O(RGBout[5]));   /* synthesis lineinfo="@3(19[3],19[9])"*/
    OB \RGBout_pad[2]  (.I(GND_net), .O(RGBout[2]));   /* synthesis lineinfo="@3(19[3],19[9])"*/
    OB \RGBout_pad[1]  (.I(GND_net), .O(RGBout[1]));   /* synthesis lineinfo="@3(19[3],19[9])"*/
    OB \RGBout_pad[0]  (.I(GND_net), .O(RGBout[0]));   /* synthesis lineinfo="@3(19[3],19[9])"*/
    OB HSYNCout_pad (.I(HSYNCout_c), .O(HSYNCout));   /* synthesis lineinfo="@3(21[3],21[11])"*/
    OB VSYNCout_pad (.I(VSYNCout_c), .O(VSYNCout));   /* synthesis lineinfo="@3(22[3],22[11])"*/
    IB oscillatorin_pad (.I(oscillatorin), .O(oscillatorin_c));   /* synthesis lineinfo="@3(20[3],20[15])"*/
    
endmodule

//
// Verilog Description of module vga_default
//

module vga_default (output VSYNCout_c, input GND_net, input VCC_net, output HSYNCout_c, 
            input oscillatorin_c);
    
    (* is_clock=1 *) wire clk;   /* synthesis lineinfo="@4(28[8],28[11])"*/
    (* is_clock=1 *) wire oscillatorin_c;   /* synthesis lineinfo="@3(20[3],20[15])"*/
    wire [9:0]n45;
    
    wire column_9__N_64;
    wire [9:0]column;   /* synthesis lineinfo="@4(31[8],31[14])"*/
    
    wire n12089, VSYNC_N_99, n12457;
    wire [9:0]row;   /* synthesis lineinfo="@4(30[8],30[11])"*/
    
    wire n6, n57, n11962, n12455, HSYNC_N_94, n226, n12741, n12353, 
        n245, n213, n216, n8, n12372, n12771;
    wire [9:0]n45_adj_116;
    
    wire n12177, n12364, n12759, n12366, n236, n12514, n10, n14, 
        n12355, n12750, n12357, n12370, n12768, n12756, n196, 
        n12368, n12765, n12361, n12777, n12359, n12774, n12753, 
        n12762, n12747, VCC_net_c;
    
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=11, LSE_RCOL=14, LSE_LLINE=128, LSE_RLINE=128 *) FD1P3XZ VSYNC (.D(VSYNC_N_99), 
            .SP(column_9__N_64), .CK(clk), .SR(n12457), .Q(VSYNCout_c));   /* synthesis lineinfo="@4(35[5],81[12])"*/
    defparam VSYNC.REGSET = "SET";
    defparam VSYNC.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i6 (.D(n45[6]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[6]));
    defparam column_66__i6.REGSET = "RESET";
    defparam column_66__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i1 (.D(n45[1]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[1]));
    defparam column_66__i1.REGSET = "RESET";
    defparam column_66__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(row[8]), .B(row[9]), 
            .Z(n6));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+(B+!(C (D)))))" *) LUT4 i4_4_lut (.A(row[6]), .B(n57), 
            .C(row[5]), .D(n6), .Z(n11962));
    defparam i4_4_lut.INIT = "0x1000";
    (* lut_function="(A (B+(C)))" *) LUT4 i1_3_lut (.A(row[9]), .B(n12455), 
            .C(row[8]), .Z(HSYNC_N_94));
    defparam i1_3_lut.INIT = "0xa8a8";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut (.A(column[8]), .B(column[5]), 
            .C(column[7]), .D(column[6]), .Z(n226));   /* synthesis lineinfo="@4(31[8],31[14])"*/
    defparam i3_4_lut.INIT = "0x8000";
    FA2 column_66_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(column[0]), .D1(n12741), .CI1(n12741), .CO0(n12741), 
        .CO1(n12353), .S1(n45[0]));
    defparam column_66_add_4_1.INIT0 = "0xc33c";
    defparam column_66_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B (C+(D))))" *) LUT4 i224_4_lut (.A(column[4]), .B(column[3]), 
            .C(column[1]), .D(column[2]), .Z(n245));
    defparam i224_4_lut.INIT = "0xeeea";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i2 (.D(n45[2]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[2]));
    defparam column_66__i2.REGSET = "RESET";
    defparam column_66__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C+(D)))+!A (B+(D)))" *) LUT4 i3_4_lut_adj_6 (.A(n245), 
            .B(n213), .C(n226), .D(n216), .Z(n8));
    defparam i3_4_lut_adj_6.INIT = "0xffec";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i2_3_lut_4_lut (.A(row[5]), 
            .B(row[6]), .C(row[8]), .D(row[9]), .Z(n213));
    defparam i2_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_7 (.A(row[0]), 
            .B(row[2]), .C(row[3]), .D(row[1]), .Z(n216));   /* synthesis lineinfo="@4(31[8],31[14])"*/
    defparam i3_4_lut_adj_7.INIT = "0xfffe";
    FA2 row_67_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(row[9]), .D0(n12372), 
        .CI0(n12372), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n12771), 
        .CI1(n12771), .CO0(n12771), .S0(n45_adj_116[9]));
    defparam row_67_add_4_11.INIT0 = "0xc33c";
    defparam row_67_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i259_2_lut (.A(column[2]), .B(column[3]), 
            .Z(n12177));
    defparam i259_2_lut.INIT = "0x8888";
    FA2 row_67_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(row[1]), .D0(n12364), 
        .CI0(n12364), .A1(GND_net), .B1(GND_net), .C1(row[2]), .D1(n12759), 
        .CI1(n12759), .CO0(n12759), .CO1(n12366), .S0(n45_adj_116[1]), 
        .S1(n45_adj_116[2]));
    defparam row_67_add_4_3.INIT0 = "0xc33c";
    defparam row_67_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(row[5]), .B(row[6]), 
            .C(row[4]), .Z(n236));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut_adj_8 (.A(row[4]), 
            .B(row[7]), .C(n216), .Z(n57));
    defparam i1_2_lut_3_lut_adj_8.INIT = "0xfefe";
    (* lut_function="(A+(B (C+(D))))" *) LUT4 i1_4_lut (.A(column[9]), .B(n226), 
            .C(column[4]), .D(n12177), .Z(VSYNC_N_99));   /* synthesis lineinfo="@4(31[8],31[14])"*/
    defparam i1_4_lut.INIT = "0xeeea";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i533_4_lut (.A(column[4]), .B(column[5]), 
            .C(column[8]), .D(column[1]), .Z(n12514));
    defparam i533_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+(C+(D)))))" *) LUT4 i595_3_lut_4_lut (.A(row[4]), 
            .B(row[7]), .C(n8), .D(column[9]), .Z(n12457));
    defparam i595_3_lut_4_lut.INIT = "0x0001";
    (* lut_function="(!((B)+!A))" *) LUT4 i2_2_lut (.A(column[2]), .B(column[7]), 
            .Z(n10));
    defparam i2_2_lut.INIT = "0x2222";
    (* lut_function="(!((B+!(C (D)))+!A))" *) LUT4 i6_4_lut (.A(column[3]), 
            .B(column[6]), .C(column[0]), .D(column[9]), .Z(n14));
    defparam i6_4_lut.INIT = "0x2000";
    FA2 column_66_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(column[3]), 
        .D0(n12355), .CI0(n12355), .A1(GND_net), .B1(GND_net), .C1(column[4]), 
        .D1(n12750), .CI1(n12750), .CO0(n12750), .CO1(n12357), .S0(n45[3]), 
        .S1(n45[4]));
    defparam column_66_add_4_5.INIT0 = "0xc33c";
    defparam column_66_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i7_4_lut (.A(column_9__N_64), 
            .B(n14), .C(n10), .D(n12514), .Z(n12089));
    defparam i7_4_lut.INIT = "0x0080";
    FA2 row_67_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(row[7]), .D0(n12370), 
        .CI0(n12370), .A1(GND_net), .B1(GND_net), .C1(row[8]), .D1(n12768), 
        .CI1(n12768), .CO0(n12768), .CO1(n12372), .S0(n45_adj_116[7]), 
        .S1(n45_adj_116[8]));
    defparam row_67_add_4_9.INIT0 = "0xc33c";
    defparam row_67_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i3 (.D(n45[3]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[3]));
    defparam column_66__i3.REGSET = "RESET";
    defparam column_66__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i4 (.D(n45[4]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[4]));
    defparam column_66__i4.REGSET = "RESET";
    defparam column_66__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+(B)))" *) LUT4 i592_2_lut (.A(n213), .B(n57), 
            .Z(column_9__N_64));
    defparam i592_2_lut.INIT = "0x1111";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i5 (.D(n45[5]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[5]));
    defparam column_66__i5.REGSET = "RESET";
    defparam column_66__i5.SRMODE = "CE_OVER_LSR";
    FA2 row_67_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(row[0]), .D1(n12756), .CI1(n12756), .CO0(n12756), 
        .CO1(n12364), .S1(n45_adj_116[0]));
    defparam row_67_add_4_1.INIT0 = "0xc33c";
    defparam row_67_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i9 (.D(n45_adj_116[9]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[9]));
    defparam row_67__i9.REGSET = "RESET";
    defparam row_67__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=91, LSE_LCOL=11, LSE_RCOL=14, LSE_LLINE=128, LSE_RLINE=128 *) FD1P3XZ HSYNC (.D(HSYNC_N_94), 
            .SP(VCC_net), .CK(clk), .SR(n196), .Q(HSYNCout_c));   /* synthesis lineinfo="@4(35[5],81[12])"*/
    defparam HSYNC.REGSET = "SET";
    defparam HSYNC.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i7 (.D(n45[7]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[7]));
    defparam column_66__i7.REGSET = "RESET";
    defparam column_66__i7.SRMODE = "CE_OVER_LSR";
    FA2 row_67_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(row[5]), .D0(n12368), 
        .CI0(n12368), .A1(GND_net), .B1(GND_net), .C1(row[6]), .D1(n12765), 
        .CI1(n12765), .CO0(n12765), .CO1(n12370), .S0(n45_adj_116[5]), 
        .S1(n45_adj_116[6]));
    defparam row_67_add_4_7.INIT0 = "0xc33c";
    defparam row_67_add_4_7.INIT1 = "0xc33c";
    FA2 column_66_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(column[9]), 
        .D0(n12361), .CI0(n12361), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n12777), .CI1(n12777), .CO0(n12777), .S0(n45[9]));
    defparam column_66_add_4_11.INIT0 = "0xc33c";
    defparam column_66_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i8 (.D(n45[8]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[8]));
    defparam column_66__i8.REGSET = "RESET";
    defparam column_66__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i8 (.D(n45_adj_116[8]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[8]));
    defparam row_67__i8.REGSET = "RESET";
    defparam row_67__i8.SRMODE = "CE_OVER_LSR";
    FA2 column_66_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(column[7]), 
        .D0(n12359), .CI0(n12359), .A1(GND_net), .B1(GND_net), .C1(column[8]), 
        .D1(n12774), .CI1(n12774), .CO0(n12774), .CO1(n12361), .S0(n45[7]), 
        .S1(n45[8]));
    defparam column_66_add_4_9.INIT0 = "0xc33c";
    defparam column_66_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i9 (.D(n45[9]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[9]));
    defparam column_66__i9.REGSET = "RESET";
    defparam column_66__i9.SRMODE = "CE_OVER_LSR";
    FA2 column_66_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(column[5]), 
        .D0(n12357), .CI0(n12357), .A1(GND_net), .B1(GND_net), .C1(column[6]), 
        .D1(n12753), .CI1(n12753), .CO0(n12753), .CO1(n12359), .S0(n45[5]), 
        .S1(n45[6]));
    defparam column_66_add_4_7.INIT0 = "0xc33c";
    defparam column_66_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i7 (.D(n45_adj_116[7]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[7]));
    defparam row_67__i7.REGSET = "RESET";
    defparam row_67__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i6 (.D(n45_adj_116[6]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[6]));
    defparam row_67__i6.REGSET = "RESET";
    defparam row_67__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i5 (.D(n45_adj_116[5]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[5]));
    defparam row_67__i5.REGSET = "RESET";
    defparam row_67__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i4 (.D(n45_adj_116[4]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[4]));
    defparam row_67__i4.REGSET = "RESET";
    defparam row_67__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i3 (.D(n45_adj_116[3]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[3]));
    defparam row_67__i3.REGSET = "RESET";
    defparam row_67__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i2 (.D(n45_adj_116[2]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[2]));
    defparam row_67__i2.REGSET = "RESET";
    defparam row_67__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i1 (.D(n45_adj_116[1]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[1]));
    defparam row_67__i1.REGSET = "RESET";
    defparam row_67__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ row_67__i0 (.D(n45_adj_116[0]), .SP(VCC_net_c), 
            .CK(clk), .SR(n11962), .Q(row[0]));
    defparam row_67__i0.REGSET = "RESET";
    defparam row_67__i0.SRMODE = "CE_OVER_LSR";
    FA2 row_67_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(row[3]), .D0(n12366), 
        .CI0(n12366), .A1(GND_net), .B1(GND_net), .C1(row[4]), .D1(n12762), 
        .CI1(n12762), .CO0(n12762), .CO1(n12368), .S0(n45_adj_116[3]), 
        .S1(n45_adj_116[4]));
    defparam row_67_add_4_5.INIT0 = "0xc33c";
    defparam row_67_add_4_5.INIT1 = "0xc33c";
    FA2 column_66_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(column[1]), 
        .D0(n12353), .CI0(n12353), .A1(GND_net), .B1(GND_net), .C1(column[2]), 
        .D1(n12747), .CI1(n12747), .CO0(n12747), .CO1(n12355), .S0(n45[1]), 
        .S1(n45[2]));
    defparam column_66_add_4_3.INIT0 = "0xc33c";
    defparam column_66_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(!(A (B+(C (D)))))" *) LUT4 i589_4_lut (.A(row[9]), .B(row[8]), 
            .C(n236), .D(row[7]), .Z(n196));
    defparam i589_4_lut.INIT = "0x5777";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut_adj_9 (.A(row[6]), 
            .B(row[7]), .C(row[5]), .D(row[4]), .Z(n12455));
    defparam i3_4_lut_adj_9.INIT = "0x8000";
    mypll clock (GND_net, oscillatorin_c, VCC_net, clk);   /* synthesis lineinfo="@4(33[11],33[16])"*/
    (* syn_use_carry_chain=1 *) FD1P3XZ column_66__i0 (.D(n45[0]), .SP(column_9__N_64), 
            .CK(clk), .SR(n12089), .Q(column[0]));
    defparam column_66__i0.REGSET = "RESET";
    defparam column_66__i0.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net_c));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input oscillatorin_c, input VCC_net, output clk);
    
    (* is_clock=1 *) wire oscillatorin_c;   /* synthesis lineinfo="@3(20[3],20[15])"*/
    (* is_clock=1 *) wire clk;   /* synthesis lineinfo="@4(28[8],28[11])"*/
    
    \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            oscillatorin_c, VCC_net, clk);   /* synthesis lineinfo="@0(35[41],48[26])"*/
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input oscillatorin_c, input VCC_net, output clk);
    
    (* is_clock=1 *) wire oscillatorin_c;   /* synthesis lineinfo="@3(20[3],20[15])"*/
    (* is_clock=1 *) wire clk;   /* synthesis lineinfo="@4(28[8],28[11])"*/
    
    wire feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=56, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48 *) PLL_B u_PLL_B (.REFERENCECLK(oscillatorin_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(clk));   /* synthesis lineinfo="@0(35[41],48[26])"*/
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    
endmodule
