// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 3.0.0.24.1
// Netlist written on Sun Dec 12 14:07:34 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "//vs-home/npower03/es4/es4-guitar-hero/proj_guitar_hero/mypll/rtl/mypll.v"
// file 1 "//vs-home/npower03/es4/es4-guitar-hero/proj_guitar_hero/source/impl_1/draw_game.vhd"
// file 2 "//vs-home/npower03/es4/es4-guitar-hero/proj_guitar_hero/source/impl_1/generate_notes.vhd"
// file 3 "//vs-home/npower03/es4/es4-guitar-hero/proj_guitar_hero/source/impl_1/top.vhd"
// file 4 "//vs-home/npower03/es4/es4-guitar-hero/proj_guitar_hero/source/impl_1/vga.vhd"
// file 5 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_ice40up.v"
// file 6 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_ice40up.vhd"
// file 7 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/program files/lscc/radiant/3.0/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/program files/lscc/radiant/3.0/ip/common/adder/rtl/lscc_adder.v"
// file 27 "c:/program files/lscc/radiant/3.0/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 28 "c:/program files/lscc/radiant/3.0/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 29 "c:/program files/lscc/radiant/3.0/ip/common/counter/rtl/lscc_cntr.v"
// file 30 "c:/program files/lscc/radiant/3.0/ip/common/fifo/rtl/lscc_fifo.v"
// file 31 "c:/program files/lscc/radiant/3.0/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/program files/lscc/radiant/3.0/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 33 "c:/program files/lscc/radiant/3.0/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 34 "c:/program files/lscc/radiant/3.0/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 35 "c:/program files/lscc/radiant/3.0/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 36 "c:/program files/lscc/radiant/3.0/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "c:/program files/lscc/radiant/3.0/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "c:/program files/lscc/radiant/3.0/ip/common/rom/rtl/lscc_rom.v"
// file 39 "c:/program files/lscc/radiant/3.0/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_add.v"
// file 41 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_addsub.v"
// file 42 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_counter.v"
// file 44 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_dsp.v"
// file 45 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_fifo.v"
// file 46 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_mac.v"
// file 48 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_mult.v"
// file 49 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_rom.v"
// file 56 "c:/program files/lscc/radiant/3.0/ip/pmi/pmi_sub.v"

//
// Verilog Description of module generate_notes
//

module generate_notes (input [479:0]col_state, input [7:0]rand, output gen, 
            input update);   /* synthesis lineinfo="@2(9[8],9[22])"*/
    
    (* is_clock=1 *) wire update_c;   /* synthesis lineinfo="@2(14[3],14[9])"*/
    
    wire GND_net, col_state_c_479, col_state_c_439, col_state_c_400, 
        rand_c_1, rand_c_0, gen_c, is_box, new_box, new_box_N_6, 
        VCC_net, n23;
    
    VHI i33 (.Z(VCC_net));
    IB \col_state_pad[400]  (.I(col_state[400]), .O(col_state_c_400));   /* synthesis lineinfo="@2(11[3],11[12])"*/
    (* lut_function="(!(A))" *) LUT4 i34_1_lut (.A(col_state_c_400), .Z(n23));   /* synthesis lineinfo="@2(11[3],11[12])"*/
    defparam i34_1_lut.INIT = "0x5555";
    FD1P3XZ is_box_c (.D(col_state_c_479), .SP(VCC_net), .CK(update_c), 
            .SR(col_state_c_439), .Q(is_box));   /* synthesis lineinfo="@2(30[3],34[10])"*/
    defparam is_box_c.REGSET = "RESET";
    defparam is_box_c.SRMODE = "CE_OVER_LSR";
    IB \col_state_pad[439]  (.I(col_state[439]), .O(col_state_c_439));   /* synthesis lineinfo="@2(11[3],11[12])"*/
    FD1P3XZ gen_i0 (.D(new_box), .SP(VCC_net), .CK(update_c), .SR(is_box), 
            .Q(gen_c));   /* synthesis lineinfo="@2(30[3],34[10])"*/
    defparam gen_i0.REGSET = "SET";
    defparam gen_i0.SRMODE = "CE_OVER_LSR";
    OB gen_pad (.I(gen_c), .O(gen));   /* synthesis lineinfo="@2(13[3],13[6])"*/
    FD1P3XZ new_box_c (.D(new_box_N_6), .SP(VCC_net), .CK(update_c), .SR(n23), 
            .Q(new_box));   /* synthesis lineinfo="@2(30[3],34[10])"*/
    defparam new_box_c.REGSET = "RESET";
    defparam new_box_c.SRMODE = "CE_OVER_LSR";
    IB \col_state_pad[479]  (.I(col_state[479]), .O(col_state_c_479));   /* synthesis lineinfo="@2(11[3],11[12])"*/
    (* lut_function="(!(A+(B)))" *) LUT4 i43_2_lut (.A(rand_c_0), .B(rand_c_1), 
            .Z(new_box_N_6));   /* synthesis lineinfo="@2(32[75],32[98])"*/
    defparam i43_2_lut.INIT = "0x1111";
    IB \rand_pad[1]  (.I(rand[1]), .O(rand_c_1));   /* synthesis lineinfo="@2(12[3],12[7])"*/
    IB \rand_pad[0]  (.I(rand[0]), .O(rand_c_0));   /* synthesis lineinfo="@2(12[3],12[7])"*/
    IB update_pad (.I(update), .O(update_c));   /* synthesis lineinfo="@2(14[3],14[9])"*/
    VLO i44 (.Z(GND_net));
    
endmodule
